* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

body {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;

  /* max-width: 1900px; */
  margin: 0rem auto;
}
body {
  background-color: #fff6f6;
  display: grid;
}
nav {
  align-items: center;
  justify-content: space-between;
}

.Home-contatiner{
  display: grid;
}

.Home_banner1 img {
  width: 323px;
  position: relative;
  z-index: 100;
  align-items: end;
  place-content: end;
  float: right;
  /* padding: 3px 103px 0px 84px; */
  height: 320px;
  object-fit: fill;
  margin-top: 3rem;
  /* margin-left: 1px; */
  position: relative;
  left: -45px;
}





.Home-banner-image-contatiner2 img {
  width: 373px;
  z-index: 100;
  align-items: end;
  place-content: end;
  float: right;
  z-index: 1;
  margin: 0rem -20.2rem;
}

.text111 {
  display: flex;
  flex-direction: column;
  padding: 7rem 1rem;
  width: 629px;
  font-size: 21px;
  gap: 31px;
  margin-left: 28px;
}
.primary-heading{
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;


}
.secondary-heading{
  font-size: clamp(1rem, 4vw, 27px);
  color: #4c4c4c;

}
.primary-button1{
  background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    width: 10rem;
    height: 38px;
    color: #fff;
}
.second_image_1{
    
    width: 450px;
    z-index: 100;
    align-items: end;
    place-content: end;

    z-index: 1;
    margin: 0rem -0.2rem;
}
.second_image_2 {
  position: relative;
  top: -39rem;
  display: flex;
  flex-direction: row;
  width: 525px;
}
.reg1 {

width: 521px;
position: relative;
z-index: 100;
align-items: end;
place-content: end;

padding: 5rem 0rem 0rem;
margin-top: -13rem;
}

.primary-heading3 {
 
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;

}
.second_image_3 {
  display: flex;
    flex-direction: column;
    padding: 10rem 1rem;
    width: 565px;
    font-size: 21px;
    gap: 31px;
    margin-left: 10px;
    float: right;
}
.primary-button2{
  background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    width: 10rem;
    height: 38px;
    color: #fff;
}
.secondary-heading4{
  font-size: clamp(1rem, 4vw, 27px);
  color: #4c4c4c;

}
.text222 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
  width: 41rem;
  float: inline-end;
  margin-top: -71rem;
  /* margin: 10rem 74rem; */

}

.contents {
  margin-top: 1rem !important;
}
.footer {
  position: relative;
  margin: 0px;
  background-color: #1f1c17;
  padding: 6px;
  color: #fff;
  margin-top: 92px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}

.sub {
  display: flex;
  justify-content: space-evenly;
  margin-top: 26px;
}

.sub p {
  margin: 5px;
}

.wrk1{
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;
  align-items: center;
  gap: 20px;
  font-size: clamp(25px, 5vw, 1rem);
  color: #4c4c4c;
  margin: 0 auto;
  max-width: 864px;
  margin-top: -20rem;

}
.wrk4{

  font-size: clamp(30px, 5vw, 1rem);
}
.allbx{
  display: flex;
    flex-direction: row;
    gap: 14rem;
    place-content: center;
    text-align: center;
    max-width: 1220px;
    place-items: center;
    position: relative;
    margin: 7rem auto;
}
.wrk5,.wrk6,.wrk7{
  width: 309px;
  min-height: 360px;
  height: 25rem;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 6rem -4rem;
  font-size: 16px;
  line-height: 31px;
  filter: drop-shadow(2px 2px 7px );
}
.lst_1{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    font-size: clamp(17px, 5vw, 1rem);
    color: #4c4c4c;
}
.input_1{
  background-color: white;
  padding: 1rem;
  border-radius: 5rem;
  width: 37rem;
  display: flex;
  gap: 14px;
  filter: drop-shadow(2px 2px 5px );
}
input{
  background-color: white;
  padding: 1rem;
  border-radius: 5rem;
  width: 27rem;
  display: flex;
  gap: 9rem;
  color: #4c4c4c;
  border: none;
  font-size: 18px;
}
.secondary-button_11{
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  width: 18rem;
  height: 52px;
  color: #fff;

}

@media (max-width:1200px) {
  .allbx {
    gap: 10.5rem;
  }
  .text222 {
    width: 41rem;
    max-width: 610px;
    margin: -69rem 1rem;
  
}
.reg1 {
  width: 521px;
  position: relative;
  z-index: 100;
  align-items: end;
  place-content: end;
  padding: 5rem 0rem 0rem;
  margin-top: -13rem;
}
}
@media (max-width:1000px) {
  .text111 {
    margin-left: 7px;
    width: 464px;
  
}
.text222 {
  width: 26rem;
  max-width: 622px;
  margin: -66rem 1rem;
}
.reg1 {
  width: 399px;
  position: relative;
  z-index: 100;
  align-items: end;
  place-content: end;
  padding: 5rem 0rem 0rem;
  margin-top: -13rem;
}

.primary-heading {
  font-size: clamp(33px, 5vw, 2rem);
  color: #4c4c4c;
}
.secondary-heading {
  font-size: clamp(1rem, 4vw, 20px);
  color: #4c4c4c;
}
  .allbx {
    gap: 9rem;
    width: 36rem;
  }
  .wrk5, .wrk6, .wrk7 {
 
        font-size: 13px;
        line-height: 24px;
}

}

@media (max-width:800px) {
  .text111 {
    width: 375px;
}
.text222 {
  width: 32rem;
  max-width: 622px;
  margin: -16rem 1rem;
}
.wrk1 {

  margin-top: 9rem;
}

}


@media screen and (max-width: 720px) {
  .sub {
    flex-direction: column;
  }
  .allbx{
    display: flex;
    flex-direction: column;
  }
  .wrk5, .wrk6, .wrk7 {

    margin: -2rem -4rem;
 
}
}
@media (max-width:500px) {
  /* .App {
    max-width: 390px;
} */


.text222 {
  margin-top: -18rem;
  display: grid;
  width: 17rem;
  position: relative;
  /* display: none; */
  margin: -18rem 3rem;
}

.Home_banner1 img {
  width: 494px;
  object-fit: contain;
 left: 0px;
  margin-top: 173px;
}

.text111 {
  padding: 3rem 1rem;
 
}

.secondary-heading {
  font-size: clamp(19px, 4vw, 31px);
  width: 18rem;
}

.second_image_1 {
    width: 262px;

    margin: 9rem -0.2rem;

}

.second_image_2 {

    width: 346px;

    left: 10px;
}

.wrk1 {
    margin-top: 5rem;

}

.wrk4 {
  font-size: 19px;
    width: 23rem;
}


.wrk5, .wrk6, .wrk7 {
  
    width: 16rem;
    margin: 0rem -3rem;
    margin-left: -4rem;
}
.allbx {
  display: flex;
  flex-direction: column;
  width: 13rem;
  gap: 6rem;
}
.lst_1 {
    font-size: 9px;

 
    text-align: center;
}
.Home-banner-image-contatiner2 img {
display: none;
}
.input_1 {
  width: 23rem;
  display: flex;
  height: 77px;
  align-items: center;
  place-content: center;
}
input {
  background-color: white;
  padding: 1rem;
  border-radius: 5rem;
  width: 16rem;
  display: flex;
  gap: 3rem;
  color: #4c4c4c;
  border: none;
  font-size: 18px;
  outline: none;
}


.secondary-button_11 {
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    width: 12rem;
    height: 40px;
    color: #fff;
    font-size: 14px;
}

.footer {
    position: relative;
    margin: 0px;
    background-color: #1f1c17;
    padding: 6px;
    color: #fff;
    margin-top: 92px;

}
}