.contents {
  margin-top: 1rem !important;
}
.footer {
  position: relative;
  margin: 0px;
  background-color: #27374d;
  padding: 1px;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}

.sub {
  display: flex;
  justify-content: space-evenly;
}

.sub p {
  margin: 5px;
}

@media screen and (max-width: 720px) {
  .sub {
    flex-direction: column;
  }
}

.y1 {
  border-radius: 34px;
  width: 27px;
  height: 29px;
  padding: 2px;
  font-size: 23px;
  margin-left: -54px;
  display: contents;
}
.h1 {
  position: relative;
  top: 13rem;
  display: flex;
  align-items: center;
  place-content: center;
}

.t_1111 a {
  color: #fff !important;
}
.t_1111 a :hover {
  color: #7f7d7d !important;
}
.t_1 a {
  color: #fff !important;
}
.h2 {
  position: relative;
  top: 13rem;
  display: flex;
  align-items: center;
  place-content: center;
}
.r11 {
  background: #27374d;
}
.r11:hover {
  background: #fff !important;
  color: #000 !important;
}
#y11 {
  position: relative !important;
  top: 13rem !important;
  height: 26rem !important;
}
.navbar {
  transition: 500ms ease;
  height: 122px;
  position: fixed !important;
  background: #27374d;
  width: 100%;
  z-index: 100;
}
.h2_1{
  height: 25rem;
  display: flex;
  align-items: center;
  place-content: center;
  font-weight: 700;
  font-size: 30px;
}
.navbar-scrolled {
  background: #27374d;
}

.active-tab {
  background: #526d82;
  color: #dde6ed;
}
.active-content {
  color: #3b3838;
}
.content {
  display: none;
}

.tabs {
  cursor: pointer;
  margin-top: -5rem;
  place-content: center;
  display: flex;

  user-select: none;
}

nav .logo {
  cursor: pointer;
  font-weight: 700;
  font-size: 38px;
  position: relative;
  left: 15px;
  color: #fff;
  letter-spacing: 4px;
  user-select: none;
}
/* .my-button {
  color: transparent;
} */
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  /* left: -71px; */
  font-weight: 500;
  align-items: center;
  margin-left: -14rem;
  color: #fff;
  /* letter-spacing: 6px; */
  position: relative;
  top: 10px;
  /* display: flex; */
}
#z11 {
  padding-top:4.5rem !important;
  padding-bottom: 1.5rem !important;
}
a {
  text-decoration: none !important;
  color: #000 !important;
  line-height: 6px !important;
}

/* .ttt1 {
  position: relative;
  top: 37rem !important;
} */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.navbar1 {
  height: 80px;
  width: 100%;
  background: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem;
  color: transparent !important;
}
.nav-logo {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: red;
}

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.menu img {
  position: relative;
  width: 37px;
  top: 24px;
  right: 19px;
  float: right;
  z-index: 119;
  display: none;
}
.menu_bar {
  display: none;
}
@media (max-width: 2300px) {
  .col-11 col-md-6 col-lg-3 mx-0 mb-4 {
    flex: 0 0 auto;
    width: 17% !important;
  }
}
@media (max-width: 1400px) {
  .col-11,
  .col-md-6,
  .col-lg-3,
  .mx-0,
  .mb-4 {
    flex: 0 0 auto;
    width: 23%;
  }
}
@media (max-width: 1200px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 30%;
  }
  nav ul {
    top: 10px;
  }
}
@media (max-width: 1000px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 30%;
  }
  nav .logo {
    left: -18px;
    font-size: 33px;
  }
  nav ul {
    left: 4px;

    top: 10px;
  }
  .t_1 a {
    color: #fff !important;
    margin-left: 7px;
  }
}
@media (max-width: 768px) {
  .container,
  .container-sm {
    max-width: 671px;
  }
  nav ul {
    left: 104px;
    top: 10px;
  }
  .navbar {
    position: relative;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 42%;
  }

  .menu {
    color: transparent;
  }
  .y1 {
    margin-top: 89px;
  }

  .t_1 a {
    color: #fff !important;
    margin-left: 14px;
  }

  nav .logo {
    left: 1px;
    font-size: 28px;
  }
  .t_1 {
    display: flex;
  }
}

@media (max-width: 500px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 76%;
    height: 10%;
  }

  .t_1 a {
    color: #fff !important;
    margin-left: -12px;
  }
  .y1 {
    margin-top: 6px;
  }
  .tabs {
    margin-left: -22px;
    margin-top: -78px;
  }
  nav ul {
    display: none;
  }
  .ttt1 {
    right: -6px;
    font-size: 23px;
    bottom: 7px;
  }
  .t_1 {
    margin-top: 52px;
    font-size: 21px;
    color: #fff !important;
  }
  nav .logo {
    font-size: 32px;

    left: 3px;

    top: -20px;
  }
  .menu img {
    display: block;
    position: fixed;
  }
  .menu_ul {
    display: block;
  }
  .menu_ul {
    position: relative;
    top: 4rem;
    list-style-type: none;
    margin-left: 12rem;
    z-index: 1997;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    left: -114px;
    color: #000 !important;
  }
  li {
    list-style-type: none;
  }

  .navbar {
    position: relative;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80px;
    left: -80%;
    transition: 0.5s;
  }

  .nav-links.active {
    background: blue;
    left: 0;
  }

  .nav-item {
    padding: 10px 0;
  }

  .dr1 {
    margin-left: 14rem;
    margin-top: 16px;
    border: none;
    background: none;
    font-size: 23px;
  }
  .menu_bar {
    display: block;
  }
  .menu {
    color: transparent;
  }

  #btn_13 {
    width: 31px !important;
    height: 32px !important;
    padding: 0px !important;
    background: #ac343f !important;
    color: #fff !important;
    font-size: 14px !important;
    border: none !important;
    position: relative !important;
    top: 48px !important;
    left: -57px !important;
  }
  #btn_12 {
    width: 24px !important;
    height: 32px !important;
    padding: 0px !important;
    background: #27374d !important;
    color: #fff !important;
    font-size: 19px !important;
    border: none !important;
  }
  #btn_11 {
    width: 24px !important;
    height: 32px !important;
    padding: 0px !important;
    background: #27374d !important;
    color: #fff !important;
    font-size: 19px !important;
    border: none !important;
  }
  .ms-2 {
    margin-left: -7px !important;
  }
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    padding-left: 4px !important;
  }
  .t_1111 a {
    color: #000 !important;
    line-height: 53px !important;
    font-weight: 600;
  }
  .t_1111 a :hover {
    color: #7f7d7d;
  }
}
